$primary-color: #008585;
$secondary-color: #809bce;
$tertiary-color: #95b8d1;
$quarternary-color: #b8e0d4;
$quinary-color: #d6eadf;
$sexenary-color: #e5c185;
$septenary-color: #c7522a;


:host{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
  background-color: $quarternary-color;
}

.student-form {
  margin: 0.5rem;
  padding: 4rem;
  background-color: $quarternary-color;


  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .form-title {
      margin: 0;
    }

    .form-actions {
      button {
        margin-left: 0.5rem;
      }
    }
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
   

    mat-form-field {
      width: 48%;
      margin: 0rem 0.5rem 0rem 0.5rem;
    }

    .full-width {
      width: 100%;
    }
  }

  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;

    button {
      margin-left: 0.5rem;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .student-form {
    padding: 1rem;

    .form-row {
      flex-direction: column;
      justify-content: center;
      mat-form-field {
        width: 100%;
        margin: 0.5rem 0;
      }
    }
  }
}