$primary-color: #008585;
$secondary-color: #809bce;
$tertiary-color: #95b8d1;
$quarternary-color: #b8e0d4;
$quinary-color: #d6eadf;
$sexenary-color: #e5c185;
$septenary-color: #c7522a;


:host {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background: #fff;
  background-color: $quarternary-color;
}

.teacher-list-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $quarternary-color;
}

.teacher-card-container {
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
  text-align: center;
}

mat-header-row {
  background-color: $primary-color;
  color: white;
}


/* :host {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background: #fff;
  background-color: $quarternary-color;
}

.teacher-list-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  padding: 1rem 4rem 2rem 4rem;
  background-color: $quarternary-color;
 
  .teacher-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    padding: 1rem 4rem 2rem 4rem;
    background-color: $quarternary-color;
    

    margin-bottom: 2rem;
    @media (max-width: 481px) {
      flex-direction: column;
      align-items: stretch;
    }
    .teacher-card {
      border-radius: 8px;
      box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.4);
      min-width: 12rem;
      min-height: 15rem;
      max-width: 10rem;
      max-height: 15rem;
      padding-top: 1rem;
      align-items: center;
      align-content: center;
      text-align: center;
      border: 0.2rem solid teal;

      img {
      object-fit: cover;
      width: 30%;
      height: 30%;
    }
    }
  }
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.old-teacher-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}



.teacher-card {
  width: 300px;
}
 */