:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // Garante que a toolbar fique acima de outros elementos
}

.app-container {
  display: flex;
  justify-content: center;
  //height: 100vh; /* Ensure the container takes the full viewport height */
}

app-sidebar {
  display: flex;
  //flex-shrink: 0; /* Prevent the sidebar from shrinking */
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container takes the full viewport height */
}


