<section id="statistics" *ngIf="isCurrentUserAdmin()" >
  <mat-toolbar id="welcome-toolbar" class="mat-toolbar">
    <h3>Estatisticas</h3>
  </mat-toolbar>

  <!-- <mat-divider></mat-divider> -->

  <div class="card-container">
    <mat-card *ngFor="let statistic of statistics" class="statistic-card">
      <mat-card-header>
        <mat-card-title>{{ statistic.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ statistic.detail }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<section id="student-listing">
  <mat-toolbar class="mat-toolbar">
    <span>Pesquisar aluno:</span>
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="studentSearchTerm"
        placeholder="Buscar..."
      />
      <mat-icon
        matSuffix
        (click)="onSearch()"
        aria-hidden="false"
        aria-label="Pesquisar alunos"
        >search</mat-icon
      >
    </mat-form-field>
  </mat-toolbar>
  <div id="student-card-container" class="card-container">
    <mat-card *ngFor="let student of students" class="student-card">
      <img
        mat-card-image
        src="{{ student.image || 'assets/avatar.png' }}"
        alt="Photo of {{ student.name }}"
      />
      <mat-card-header>
        <mat-card-title>{{ student.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ student.age }} anos
        <span
          ><mat-icon
            mat-icon-button
            aria-hidden="false"
            aria-label="phone"
            fontIcon="phone"
          ></mat-icon>
          {{ student.phone }}</span
        >
        <button *ngIf="isCurrentUserAdmin()" 
          mat-stroked-button 
          aria-label="Ver mais" 
          [routerLink]="['/student']"
          [queryParams] = "{ id: student.id }">
          ver mais
        </button>

        <button 
          *ngIf="isCurrentTeacher()" 
          mat-stroked-button 
          aria-label="Ver mais" 
          [routerLink]="['/grade']"
          [queryParams] = "{ studentId : student.id}" >
          lançar nota
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</section>
